<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus pokemons</title>
</head>
<body>
        <header>
            <span>PokeApi</span>
            <div>
                <img src="https://avatars.githubusercontent.com/u/64599738?s=460&u=a0424191bba0f7ee48292d84e783b8eaf4998514&v=4" alt="">
                <span>Minha conta</span>
            </div>
        </header>
        
        <main>
            <div>
                <input type="text" placeholder="Pesquisar Pokemon">
            </div>
            <div>
                <ul>
                    <li>
                        <div>
                            <strong>#1 Pineco</strong>
                            <img src="../assets/img/pineco.png" alt="">
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>#1 Pineco</strong>
                            <img src="../assets/img/pikachu.png" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </main>

        <footer>

        </footer>
</body>
</html>